sonagi/secret.json

# front-end ignore files
WEB(FE)/.DS_Store
WEB(FE)/node_modules
/dist
test

# local env files
WEB(FE)/.env.local
WEB(FE)/.env.*.local

# Log files
WEB(FE)/npm-debug.log*
WEB(FE)/yarn-debug.log*
WEB(FE)/yarn-error.log*
WEB(FE)/pnpm-debug.log*

# Editor directories and files
WEB(FE)/.idea
WEB(FE)/.vscode
WEB(FE)/*.suo
WEB(FE)/*.ntvs*
WEB(FE)/*.njsproj
WEB(FE)/*.sln
WEB(FE)/*.sw?

WEB(FE)/yarn.lock